openapi: 3.1.0
info:
  title: Mbanq Cloud
  description: >-
    This collection encapsulates a subset of Mbanq Cloud API's around Client On-boarding, Account opening, Card Issuing and Transfers


    The below environment variables are used in this collection:


    - **access_token**: This access token is returned from the Authorization API

    - **user_name**: Hardcoded to "admin"

    - **password**: The password used while creating a demo instance

    - **tenant_id**: tenant_id of the demo instance.

    - **api_domain**: Refers to [https://api.cloud.mbanq.com](https://api.cloud.mbanq.com)
  contact: {}
  version: '1.0'
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://api.cloud.mbanq.com/oauth
  variables: {}
  description: >-
    URL for getting the Access Token
- url: https://api.cloud.mbanq.com/v1
  variables: {}
  description: >-
    URL for getting the APIs
- url: https://api.cloud.mbanq.com/graphql
  variables: {}
paths:
  /token:
    post:
      tags:
      - Authorization
      summary: Request Access Token
      description: >-
        
        You can use this API to obtain the access token for authentication.To authenticate requests, the APIs use OAuth 2.0 access tokens. 


        The first step to using the APIs is to obtain this access token.
        If the request is valid, the response will include the access token, a refresh token, and additional properties about the authorization.


        The response includes a parameter "expires_in" indicating the token expiry duration, after which the token needs to be refreshed.
      operationId: RequestAccessToken
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/x-www-form-urlencoded
          type: string
          examples:
          - application/x-www-form-urlencoded
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - username
              - password
              - grant_type
              - client_id
              - client_secret
              type: object
              properties:
                username:
                  type: string
                  examples:
                  - '{{user_name}}'
                  description: 'The user name defined for your banking instance.'
                password:
                  type: string
                  examples:
                  - ''
                  description: 'The Password defined for your banking instance.'
                grant_type:
                  type: string
                  description: "The grant type defined for your banking instance.Supported values:\n 'password' ,'refresh_token'."
                  examples:
                  - password
                client_id:
                  type: string
                  examples:
                  - api
                  description: 'The identifier for the registered application of your banking instance.\n For this preview release, the default value is: api. In our official release, you will be able to set this uniquely for each application.'
                client_secret:
                  type: string
                  examples:
                  - secret
                  description: 'The client_secret is a secret known only to the application and the authorization server.\n For this preview release, the default value is secret. In our official release, you will be able to set this uniquely for each application.'
              contentMediaType: application/x-www-form-urlencoded
        required: false
      responses:
          '200':
            description: 'Token is obtained successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "scope": "all",
                      "access_token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImlzQWNjZXNzVG9rZW4iOnRydWUsImV4cCI6MTY4ODM2NzIzMSwidXNlcklkIjoxLCJpYXQiOjE2ODgzNjM2MzF9.w5MshXIEBybS2PKXUEVbLtQWtebO8tKJnZaykZs8Vda7De2viQFyhuYPjEova_aq1PFe9lVS85epFnmJYYx0WA",
                      "token_type": "bearer",
                      "refresh_token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImlzQWNjZXNzVG9rZW4iOmZhbHNlLCJleHAiOjE2ODg0NTAwMzEsInVzZXJJZCI6MSwiaWF0IjoxNjg4MzYzNjMxfQ.ZXUaDhpNMhuaUUZtwMYLy4sWNFy476nYZ38lCDI7jKrYlxHTsz6vL2hxBKWlIZFGBdGnBCswcQ0uRtjWzHf0yw",
                      "expires_in": 1084,
                      "required_password_reset": false,
                      "required_terms_and_conditions_check": false
                      }
            headers: {}
          '400':
            description: "The request fails if the tenant Id is missing or incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                          "timestamp": "2023-07-03T06:41:54.148+00:00",
                          "status": 400,
                          "error": "Bad Request",
                          "path": "/oauth/token"
                          }    
            headers: {}
      deprecated: false
      servers:
      - url: https://api.cloud.mbanq.com/oauth
        variables: {}
      security: []  
    parameters: []

  /clients:
    post:
      tags:
      - Onboarding
      summary: Create & Activate Client
      description: "Use this API to create and activate a client. Clients are individuals and businesses who have applied (or may apply) for loans with an MFI. You can create the client in 'Pending' or 'Active' state.\n\n The Client id is returned. This client id will be used to retrieve/update any information about the client. It will also help in creating an account.\n\n**Note:**\n\n1. You can enter either:\n `firstname`, `middlename` `lastname` - for a person (`middlename` is optional) OR `fullname` - for a business or organisation (or person known by one name).\n2. If address is enabled (enable-address=true):\n You need to pass an additional field - `address`.\n3. Valid legal Form Id:\n 1 = PERSON\n 2 = ENTITY\n    \n\n**Mandatory fields**\n\n- `firstname` and `lastname` or `fullname`\n- `officeId`\n- if `active=true` then `activationDate` needs to be passed \n- If address is enabled (enable-address=true):\n You need to pass an additional field - `address`\n    \n\n---\n\n**Optional fields**\n\n- `groupId`, `externalId`, `accountNo`, `staffId`, `mobileNo`, `savingsProductId`, `genderId`, `clientTypeId`, `clientClassificationId`, `legalFormId`\n    \n\n---\n\n"
      operationId: Create&ActivateClient
      parameters:
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateActivateClientRequest'
              - examples:
                - activationDate: 13 June 2023
                  active: false
                  dateFormat: dd MMMM yyyy
                  familyMembers: []
                  firstname: Test
                  genderId: 634
                  lastname: Instance
                  locale: en
                  officeId: 1
                  savingsProductId: null
                  submittedOnDate: 13 June 2023
                  mobileNo: '12345678998'
                  emailAddress: abc@testgmail.com
              contentMediaType: application/json
            example:
              activationDate: 13 June 2023
              active: false
              dateFormat: dd MMMM yyyy
              familyMembers: []
              firstname: Test
              genderId: 634
              lastname: Instance
              locale: en
              officeId: 1
              savingsProductId: null
              submittedOnDate: 13 June 2023
              mobileNo: '12345678998'
              emailAddress: abc@testgmail.com
        required: true
      responses:
          '200':
            description: 'The Client is created/activated successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "officeId": 1,
                        "clientId": 20,
                        "resourceId": 20
                      }                
            headers: {}
          '400':
            description: "The request fails if the name details are missing."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The request was invalid. This typically will happen due to validation errors which are provided.",
                      "httpStatusCode": "400",
                      "defaultUserMessage": "Validation errors exist.",
                      "userMessageGlobalisationCode": "validation.msg.validation.errors.exist",
                      "errors": [
                        {
                          "developerMessage": "Failed data validation due to: .no.name.details.passed.",
                          "defaultUserMessage": "Failed data validation due to: .no.name.details.passed.",
                          "userMessageGlobalisationCode": "validation.msg.client.id..no.name.details.passed",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": null
                            },
                            {
                              "value": []
                            }
                          ]
                        }
                      ]
                    } 
            headers: {}
       
      deprecated: false
      servers:
      - url: https://api.cloud.mbanq.com/v1
        variables: {}
    get:
      tags:
      - Onboarding
      summary: List Clients
      description: >-
        Use this API to retrieve the list of clients.        
        The list supports **pagination** and **sorting**.

        Example Requests:


        - `/clients`

        - `/clients?fields=displayName,officeName,timeline`

        - `/clients?offset=10&limit=50`

        - `/clients?orderBy=firstname&sortOrder=DESC`
      operationId: ListClients
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: offset
        in: query
        description: >-
           Indicates the result from which pagination starts. Defaults to 0.
        schema:
          type: integer          
      - name: limit
        in: query
        description: "Restricts the size of the results returned. Defaults to 200. \nTo override the default and return all entries you must explicitly pass a non-positive integer value for limit e.g. `limit=0`, or `limit=-1`"
        schema:
          type: integer
      - name: orderBy
        in: query
        description: "The list is sorted by the indicated field.\n Possible values - displayName, accountNo, officeId, officeName."
        schema:
          type: string
      - name: sortBy
        in: query
        description: >-
          Specifies the sorting order. 
          Possible values - ASC, DESC
        schema:
           type: string
      - name: officeId
        in: query
        description: Provides the ability to restrict the list of clients returned based on the office they are associated with.
        schema:
          type: integer
      - name: underHierarchy
        in: query
        description: Use this field to return all clients under a given hierarchy.
        schema:
          type: string
      - name: displayName
        in: query
        description: Use this field to restrict the results based on display name.
        schema:
          type: string
      - name: firstName
        in: query
        description: Use this field to restrict the results based on first name.
        schema:
          type: string
      - name: lastName
        in: query
        description: Use this field to restrict the results based on last name.
        schema:
           type: string
      - name: externalId
        in: query
        description: Use this field to restrict the results based on externa Id.
        schema:
           type: string
      - name: sqlSearch
        in: query
        description: "Use an SQL fragment valid for the underlying client schema to filter results.\nE.g. display_name like %K%"
        schema:
          type: string
      - name: orphansOnly
        in: query
        description: "Use orphansOnly as 'true' to list clients that are not associated with any parent."
        schema:
          type: boolean
      - name: clientStatus
        in: query
        description: "Use this field to restrict the results based on client status.\n Possible values - INVALID, PENDING, ACTIVE, etc."
        schema:
            type: string
      - name: mobileNo
        in: query
        description: Use this field to restrict results based on the mobile number.
        schema:
          type: string
      - name: createdStartDate
        in: query
        description: Use this field to restrict results based on the creation start date.
        schema:
           type: string
      - name: creationEndDate
        in: query
        description: Use this field to restrict results based on the creation end date.
        schema:
          type: string
      - name: activatedStartDate
        in: query
        description: Use this field to restrict results based on the activated start date.
        schema:
            type: string
      - name: activatedEndDate
        in: query
        description: Use this field to restrict results based on the activated end date.
        schema:
           type: string
      - name: closedStartDate
        in: query
        description: Use this field to restrict results based on the closing start date.
        schema:
           type: string
      - name: closedEndDate
        in: query
        description: Use this field to restrict results based on the closing end date.
        schema:
           type: string
      - name: checkIdentitiesExpiration
        in: query
        description: "Use this field to restrict the results based on the expiration.\n Defaults to false."
        schema:
           type: boolean
      responses:
            '200':
              description: 'The list of clients is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        {
                          "totalFilteredRecords": 12,
                          "pageItems": [
                            {
                              "id": 21,
                              "accountNo": "000000021",
                              "status": {
                                "id": 300,
                                "code": "clientStatusType.active",
                                "value": "Active"
                              },
                              "subStatus": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "active": true,
                              "activationDate": [
                                2023,
                                7,
                                3
                              ],
                              "firstname": "DemoRJ",
                              "lastname": "DemoRJ",
                              "displayName": "DemoRJ DemoRJ",
                              "gender": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientType": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientClassification": {
                                "id": 651,
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "isStaff": false,
                              "skipAvs": false,
                              "officeId": 1,
                              "timeline": {
                                "submittedOnDate": [
                                  2023,
                                  7,
                                  3
                                ],
                                "activatedOnDate": [
                                  2023,
                                  7,
                                  3
                                ]
                              },
                              "clientNonPersonDetails": {
                                "constitution": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                },
                                "mainBusinessLine": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                }
                              },
                              "clientTransferOptionData": {
                                "externalCardDebitAllowed": false,
                                "externalCardCreditAllowed": false
                              }
                            },
                            {
                              "id": 20,
                              "accountNo": "000000020",
                              "status": {
                                "id": 300,
                                "code": "clientStatusType.active",
                                "value": "Active"
                              },
                              "subStatus": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "active": true,
                              "activationDate": [
                                2023,
                                7,
                                3
                              ],
                              "firstname": "DemoRJ",
                              "lastname": "DemoRJ",
                              "displayName": "DemoRJ DemoRJ",
                              "gender": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientType": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientClassification": {
                                "id": 651,
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "isStaff": false,
                              "skipAvs": false,
                              "officeId": 1,
                              "timeline": {
                                "submittedOnDate": [
                                  2023,
                                  7,
                                  3
                                ],
                                "activatedOnDate": [
                                  2023,
                                  7,
                                  3
                                ]
                              },
                              "clientNonPersonDetails": {
                                "constitution": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                },
                                "mainBusinessLine": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                }
                              },
                              "clientTransferOptionData": {
                                "externalCardDebitAllowed": false,
                                "externalCardCreditAllowed": false
                              }
                            },
                          {
                              "id": 1,
                              "accountNo": "000000001",
                              "status": {
                                "id": 300,
                                "code": "clientStatusType.active",
                                "value": "Active"
                              },
                              "subStatus": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "active": true,
                              "activationDate": [
                                2014,
                                3,
                                7
                              ],
                              "firstname": "Smith",
                              "lastname": "R",
                              "displayName": "Smith R",
                              "gender": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientType": {
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "clientClassification": {
                                "id": 660,
                                "active": false,
                                "mandatory": false,
                                "systemDefined": false
                              },
                              "isStaff": false,
                              "skipAvs": false,
                              "officeId": 1,
                              "staffId": 1,
                              "timeline": {
                                "submittedOnDate": [
                                  2010,
                                  1,
                                  1
                                ],
                                "activatedOnDate": [
                                  2014,
                                  3,
                                  7
                                ]
                              },
                              "clientNonPersonDetails": {
                                "constitution": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                },
                                "mainBusinessLine": {
                                  "active": false,
                                  "mandatory": false,
                                  "systemDefined": false
                                }
                              },
                              "clientTransferOptionData": {
                                "externalCardDebitAllowed": false,
                                "externalCardCreditAllowed": false
                              }
                            }
                          ]
                        }
                     
              headers: {}
            '400':
              description: "The request fails if the tenant Id is missing or incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                            "timestamp": "2023-07-03T06:41:54.148+00:00",
                            "status": 400,
                            "error": "Bad Request",
                            "path": "/oauth/token"
                            }    
              headers: {}
      deprecated: false
      servers:
      - url: https://api.cloud.mbanq.com/v1
        variables: {}
    parameters: []
  /users:
    post:
      tags:
      - Onboarding
      summary: Enable Self-service Access
      description: "Use this API to enable Self-service Access.\n\nMbanq Cloud is able to store client logins directly within self service access provisioned for a client. Additionally, it isolates data access by allowing API calls associated with accounts, cards, loans, and transfers by using the Client log-in rather than broader system users."
      operationId: EnableSelf-serviceAccess
      parameters:
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: 'You need to update the values in the JSON including the {{clientId}} parameter.'
        content:
          application/json:
            schema:
              type: string
              examples:
              - >-
                {
                    "email": "some@email.com",
                    "firstname": "Robo",
                    "lastname": "Cop",
                    "officeId": 1,
                    "password": "!User089!",
                    "repeatPassword": "!User089!",
                    "roles": ["2"],
                    "sendPasswordToEmail": false,
                    "username": "robocop4",
                    "isSelfServiceUser": true,
                    "clients": [{{clientId}}]
                  }
              contentMediaType: application/json
            example: >-
              {
                  "email": "some@email.com",
                  "firstname": "Robo",
                  "lastname": "Cop",
                  "officeId": 1,
                  "password": "!User089!",
                  "repeatPassword": "!User089!",
                  "roles": ["2"],
                  "sendPasswordToEmail": false,
                  "username": "robocop4",
                  "isSelfServiceUser": true,
                  "clients": [{{clientId}}]
                }
        required: true
      responses:
          '200':
            description: 'The self-service access is enabled.'
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "officeId": 1,
                      "clientId": 1,
                      "resourceId": 107,
                      "data": {
                        "client": {
                          "officeName": "Head Office",
                          "displayName": "Smith R",
                          "accountNo": "000000001",
                          "id": 1,
                          "status": "Active"
                        },
                        "maker": {
                          "firstName": "App",
                          "lastName": "Administrator",
                          "id": 1,
                          "email": "documents@gwocu.com",
                          "username": "admin"
                        },
                        "createdUser": {
                          "firstName": "Robo",
                          "lastName": "Cop",
                          "id": 107,
                          "email": "some@email.com",
                          "username": "robocop4"
                        }
                      }
                    }
            headers: {}
          '400':
            description: "The request fails due duplicate user name."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The request caused a data integrity issue to be fired by the database.",
                      "httpStatusCode": "403",
                      "defaultUserMessage": "User with username `robocop4` already exists.",
                      "userMessageGlobalisationCode": "error.msg.user.duplicate.username",
                      "errors": [
                        {
                          "developerMessage": "User with username `robocop4` already exists.",
                          "defaultUserMessage": "User with username `robocop4` already exists.",
                          "userMessageGlobalisationCode": "error.msg.user.duplicate.username",
                          "parameterName": "username",
                          "value": null,
                          "args": [
                            {
                              "value": "robocop4"
                            }
                          ]
                        }
                      ]
                    } 
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId}:
    put:
      tags:
      - Onboarding
      summary: Update client
      description: >-
        Use this API to update a client. 
        
        
        **Note:** You can update any of the basic attributes of a client (but not its associations) using this API.


        Changing the relationship between a client and its office is not supported through this API. An API specific to handling **transfers** of clients between offices is available for the same.


        Example requests:

        
        - `PUT /clients/1`
      operationId: Updateclient
      parameters:
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateclientRequest'
              - examples:
                - externalId: 786444UUUYYH7
              contentMediaType: application/json
            example:
              externalId: 4786444UUUYYH7
        required: true
      responses:
          '200':
            description: 'The client is updated successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "officeId": 1,
                      "clientId": 15,
                      "resourceId": 15,
                      "changes": {
                        "externalId": "4786444UUUYYH7"
                      }
                    }
            headers: {}
          '404':
            description: "The request fails if the client Id is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Client with identifier 12354354 does not exist",
                          "defaultUserMessage": "Client with identifier 12354354 does not exist",
                          "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 12354354
                            }
                          ]
                        }
                      ]
                    } 
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    get:
      tags:
      - Onboarding
      summary: Get Client By Id
      description: "Use this API to get a client. You need to specify the client Id. \n\nExample Requests\n\n- `/clients/1`\n- `/clients/1?template=true`\n- `/clients/1?fields=id,displayName,officeName`"
      operationId: GetClientById
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The client is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                        "id": 15,
                        "accountNo": "000000015",
                        "externalId": "4786444UUUYYH7",
                        "status": {
                          "id": 300,
                          "code": "clientStatusType.active",
                          "value": "Active"
                        },
                        "subStatus": {
                          "active": false,
                          "mandatory": false,
                          "systemDefined": false
                        },
                        "active": true,
                        "activationDate": [
                          2023,
                          6,
                          29
                        ],
                        "firstname": "RJ",
                        "lastname": "Last",
                        "displayName": "RJ Last",
                        "emailAddress": "rutujajoshi@quickdraft.pro",
                        "dateOfBirth": [
                          1990,
                          6,
                          1
                        ],
                        "gender": {
                          "id": 635,
                          "name": "Female",
                          "active": false,
                          "mandatory": false,
                          "systemDefined": false
                        },
                        "clientType": {
                          "active": false,
                          "mandatory": false,
                          "systemDefined": false
                        },
                        "clientClassification": {
                          "id": 651,
                          "name": "Default",
                          "active": false,
                          "mandatory": false,
                          "systemDefined": false
                        },
                        "isStaff": false,
                        "skipAvs": false,
                        "officeId": 1,
                        "officeName": "Head Office",
                        "timeline": {
                          "submittedOnDate": [
                            2023,
                            6,
                            28
                          ],
                          "submittedByUsername": "admin",
                          "submittedByFirstname": "App",
                          "submittedByLastname": "Administrator",
                          "activatedOnDate": [
                            2023,
                            6,
                            29
                          ],
                          "activatedByUsername": "admin",
                          "activatedByFirstname": "App",
                          "activatedByLastname": "Administrator"
                        },
                        "savingsAccountId": 14,
                        "legalForm": {
                          "id": 1,
                          "code": "legalFormType.person",
                          "value": "PERSON"
                        },
                        "groups": [],
                        "clientNonPersonDetails": {
                          "constitution": {
                            "active": false,
                            "mandatory": false,
                            "systemDefined": false
                          },
                          "mainBusinessLine": {
                            "active": false,
                            "mandatory": false,
                            "systemDefined": false
                          }
                        },
                        "clientTransferOptionData": {
                          "externalCardDebitAllowed": true,
                          "externalCardCreditAllowed": true
                        }
                      }
              headers: {}
            '404':
              description: "The request fails if the client Id is incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                        "developerMessage": "The requested resource is not available.",
                        "httpStatusCode": "404",
                        "defaultUserMessage": "The requested resource is not available.",
                        "userMessageGlobalisationCode": "error.msg.resource.not.found",
                        "errors": [
                          {
                            "developerMessage": "Client with identifier 123 does not exist",
                            "defaultUserMessage": "Client with identifier 123 does not exist",
                            "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                            "parameterName": "id",
                            "value": null,
                            "args": [
                              {
                                "value": 123
                              }
                            ]
                          }
                        ]
                      }
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    post:
      tags:
      - Verification and Activation
      summary: Verify Kyc
      description: Use this API to verify the KYC of a client. The verification needs to be done before activation of a client.
      operationId: VerifyKyc
      parameters:
      - name: command
        in: query
        description: "In this case the command value should always be 'verify'."
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - verify
      - name: instance
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console (tenantId)." 
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          text/plain:
            schema:
              type: object
              examples:
              - {}
              contentMediaType: text/plain
            example: {}
        required: true
      responses:
          '200':
            description: 'The verification is successful.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "officeId": 1,
                        "clientId": 1,
                        "resourceId": 1
                      }
              headers: {}
          '400':
            description: "The request fails if the tenant Id is missing or incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                          "timestamp": "2023-07-03T06:41:54.148+00:00",
                          "status": 400,
                          "error": "Bad Request",
                          "path": "/oauth/token"
                          }    
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /client/{clientId}/addresses:
    get:
      tags:
      - Onboarding
      summary: Get address
      description: "Use this API to get the address of a client.\n\nExample Requests:\n\n- `clients/1/addresses`"
      operationId: Getaddress
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated Client Id.'
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The address is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: [
                        {
                          "client_id": 12,
                          "addressType": "PRIMARY",
                          "addressId": 12,
                          "addressTypeId": 31,
                          "isActive": true,
                          "addressLine1": "150 Candlelight Drive",
                          "city": "Pearland",
                          "stateProvinceId": 580,
                          "countryName": "United States",
                          "stateName": "Texas",
                          "countryId": 284,
                          "postalCode": "77581",
                          "minifiedAddress": [
                            "150 Candlelight Drive",
                            "Pearland TX 77581 US",
                            null
                          ]
                        }
                      ]
              headers: {}
            '400':
              description: "The request fails if the tenant Id is missing or incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                            "timestamp": "2023-07-03T06:41:54.148+00:00",
                            "status": 400,
                            "error": "Bad Request",
                            "path": "/oauth/token"
                            }    
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    post:
      tags:
      - Onboarding
      summary: Add Address
      operationId: AddAddress
      description: "Use this API to add an address.\n\nThe address module is optional. You can configure it by using the GlobalConfiguration setting: `enable-address` by setting its value to true."
      parameters:
      - name: type
        in: query
        description: 'The type of the address.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 31
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The client Id associated with this address.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddAddressRequest'
              - examples:
                - addressLine1: Kandivali
                  addressLine2: plot47
                  addressLine3: charkop
                  city: Mumbai
                  stateProvinceId: 546
                  countryId: 284
                  postalCode: '40004'
                  isActive: true
              contentMediaType: application/json
            example:
              addressLine1: Kandivali
              addressLine2: plot47
              addressLine3: charkop
              city: Mumbai
              stateProvinceId: 546
              countryId: 284
              postalCode: '40004'
              isActive: true
        required: true
      responses:
          '200':
            description: 'The address is added successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "clientId": 15,
                        "resourceId": 3
                      }
              headers: {}
          '404':
            description: "The request fails if the address type is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Code value with identifier 0 does not exist for a code with name ADDRESS_TYPE",
                          "defaultUserMessage": "Code value with identifier 0 does not exist for a code with name ADDRESS_TYPE",
                          "userMessageGlobalisationCode": "error.msg.codevalue.codename.id.combination.invalid",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 0
                            },
                            {
                              "value": "ADDRESS_TYPE"
                            }
                          ]
                        }
                      ]
                    }
                
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    put:
      tags:
      - Misc
      summary: Enable Address
      description: >-
        Use this API to enable the address added for a client.



        Example requests:

        
        `PUT client/1/addresses?type=40`
      operationId: EnableAddress
      parameters:
      - name: type
        in: query
        description: 'The associated address type.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 31
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EnableAddressRequest'
              - examples:
                - addressId: 22
                  isActive: true
              contentMediaType: application/json
            example:
              addressId: 22
              isActive: true
        required: true
      responses:
          '200':
            description: 'The address is successfully enabled.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "clientId": 12,
                        "resourceId": 2
                      }
              headers: {}
          '400':
            description: "The request Failed if the address Id is missing."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The request was invalid. This typically will happen due to validation errors which are provided.",
                      "httpStatusCode": "400",
                      "defaultUserMessage": "Validation errors exist.",
                      "userMessageGlobalisationCode": "validation.msg.validation.errors.exist",
                      "errors": [
                        {
                          "developerMessage": "The required parameter was missing from the request",
                          "defaultUserMessage": "The required parameter was missing from the request",
                          "userMessageGlobalisationCode": "error.msg.update.address.parameter.missing",
                          "parameterName": "addressId",
                          "value": null,
                          "args": []
                        }
                      ]
                    }
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /client/addresses/template:
    get:
      tags:
      - Onboarding
      summary: Get Address Template
      description: >-
        Use this API to get a client address template.


        The address module is optional. You can configure it by using the GlobalConfiguration setting: enable-address by setting its value to true.


        **Field Descriptions**


        | Fields | Description |

        | --- | --- |

        | `addressTypeId` | The Address module can store multiple types of client addresses. The AddressTypeId code is used to store the different types of addresses. |

        | `street`, `addressLine1`, `addressLine2`, `addressLine3`, `townVillage`, `city`, `countyDistrict`, `stateProvinceId`, `countryId`, `postalCode`, `latitude`, `longitude`, `createdBy`, `createdOn`, `updatedBy`, `updatedOn` | These are the fields of address that can be configured. |
      operationId: GetAddressTemplate
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The address template is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        {
  "countryIdOptions": [{
    "id": 139,
    "name": "India",
    "position": 0,
    "active": true,
    "mandatory": false,
    "systemDefined": false,
    "parentId": 628,
    "identifier": "IN"
  }
  ],
  "addressTypeIdOptions": [{
    "id": 32,
    "name": "BUSINESS",
    "position": 0,
    "active": true,
    "mandatory": false,
    "systemDefined": false,
    "parentId": 0
  },
    {
      "id": 33,
      "name": "POSTAL",
      "position": 0,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 34,
      "name": "TAX",
      "position": 0,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 31,
      "name": "PRIMARY",
      "position": 0,
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    }
  ]
}
                headers: {}
            '400':
              description: "The request fails if the tenant Id is missing or incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                            "timestamp": "2023-07-03T06:41:54.148+00:00",
                            "status": 400,
                            "error": "Bad Request",
                            "path": "/oauth/token"
                            }    
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId}/identifiers/template:
    get:
      tags:
      - Onboarding
      summary: List permitted Client Identifiers
      description: "Use this API to retrieve a list of all permitted identity document types for a customer. These Identity types can then be used for associating a new Identitiy for a customer.\n\nClient Identifiers refer to documents that are used to uniquely identify a customer.  \nE.g. Drivers License, Passport, Ration card etc.\n\n| Field | Description |\n| --- | --- |\n| `documentKey` | A number/string that uniquely identifies a particular document. E.g. A Driver's License number for a driving license. |\n| `documentType` | Type of the identification document. E.g. License, Passport. |\n| `description` | Any user comments to be associated with the Client Identifier. |\n| `status` | The status of Client Identifier. E.g. active |\n| `issuedBy` | The entity that issued the Client Identifier. |\n\nThis is useful for building maintenance user interface screens for client applications. The template data returned consists of any or all of:\n\n- Field Defaults\n- Allowed Value Lists\n    \n\nExample Request:\n\n`/clients/1/identifiers/template`\n\n"
      operationId: ListpermittedClientIdentifiers
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated Client Id.'
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'List of permitted Client Identifiers is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        {
  "allowedDocumentTypes": [
    {
      "id": 4859,
      "name": "SocureDocumentUUID",
      "position": 0,
      "description": "Socure Document UUID",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 647,
      "name": "Visa",
      "position": 0,
      "description": "A stamp on a valid passport, which indicates eligibility to enter a Country",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 638,
      "name": "Taxpayer Identification Number",
      "position": 0,
      "description": "Tax Processing number (ITIN) issued by the Internal Revenue Service",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 639,
      "name": "Driver's License",
      "position": 0,
      "description": "Driver's Licence issued by state government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 637,
      "name": "Social Security Number",
      "position": 0,
      "description": "Social Security Card issued by state government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 641,
      "name": "State Identity Card",
      "position": 0,
      "description": "ID issued by a State Government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 642,
      "name": "Work permit (EAD) card",
      "position": 0,
      "description": "Employment Authorization Card issued by the federal government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 643,
      "name": "Permanent Resident Card",
      "position": 0,
      "description": "Green Card issued by the federal government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 644,
      "name": "Foreign Passport",
      "position": 0,
      "description": "Biodata page of a passport issued by a foreign government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 645,
      "name": "Foreign Driver's License",
      "position": 0,
      "description": "Driving license issued by a foreign country",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 646,
      "name": "Consular ID",
      "position": 0,
      "description": "Identification cards issued by some governments to their citizens who are living in foreign countries",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 4861,
      "name": "Passport Id",
      "position": 1,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 1,
      "name": "Passport",
      "position": 1,
      "description": "Biodata page of a passport issued by Federal Government",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 648,
      "name": "Other",
      "position": 1,
      "description": "Any other Identity documents like utility bills which can be used to prove residency",
      "active": true,
      "mandatory": false,
      "systemDefined": true,
      "parentId": 0
    },
    {
      "id": 2,
      "name": "Id",
      "position": 2,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 4862,
      "name": "Government Id",
      "position": 2,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 4,
      "name": "Any Other Id Type",
      "position": 4,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 4869,
      "name": "Ration Card",
      "position": 5,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    },
    {
      "id": 4868,
      "name": "Voter ID",
      "position": 6,
      "active": true,
      "mandatory": false,
      "systemDefined": false,
      "parentId": 0
    }
  ]
}
                headers: {}
            '400':
              description: "The request fails if the tenant Id is missing or incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                            "timestamp": "2023-07-03T06:41:54.148+00:00",
                            "status": 400,
                            "error": "Bad Request",
                            "path": "/oauth/token"
                            }    
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId}/identifiers:
    post:
      tags:
      - Onboarding
      summary: Create Client identifier
      description: "Use this API to create a Client Identifier.\n\n Client Identifiers refer to documents that are used to uniquely identify a customer.  \nE.g. Drivers License, Passport, Ration card etc. You need to specify the client Id."
      operationId: CreateClientidentifier
      parameters:
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateClientidentifierRequest'
              - examples:
                - documentTypeId: '647'
                  documentKey: '1234567'
                  status: Active
                  description: Document has been verified
                  issuedBy: DMV
              contentMediaType: application/json
            example:
              documentTypeId: '647'
              documentKey: '1234567'
              status: Active
              description: Document has been verified
              issuedBy: DMV
        required: true
      responses:
          '200':
            description: 'The client identifier is created successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "officeId": 1,
                        "clientId": 15,
                        "resourceId": 1
                      }
              headers: {}
          '404':
            description: "The request fails if the client Id is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Client with identifier 111111 does not exist",
                          "defaultUserMessage": "Client with identifier 111111 does not exist",
                          "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 111111
                            }
                          ]
                        }
                      ]
                    }  
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    get:
      tags:
      - Onboarding
      summary: List Client Identifiers
      description: >-

        Use this API to retrieve a list of the client identifiers. You need to specify the client Id.


        Client Identifiers refer to documents that are used to uniquely identify a customer.E.g. Drivers License, Passport, Ration card etc.



        Example Requests:


        - `/clients/1/identifiers`

        - `/clients/1/identifiers?fields=documentKey,documentType,description`
      operationId: ListClientIdentifiers
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The list client identifiers is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        [
                          {
                            "id": 1,
                            "clientId": 15,
                            "documentType": {
                              "id": 647,
                              "name": "Visa"
                            },
                            "documentKey": "1234567",
                            "description": "Document has been verified",
                            "status": "clientIdentifierStatusType.active",
                            "issuedBy": "DMV"
                          }
                        ]
                headers: {}
            '400':
              description: "The request fails if the tenant Id is missing or incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                            "timestamp": "2023-07-03T06:41:54.148+00:00",
                            "status": 400,
                            "error": "Bad Request",
                            "path": "/oauth/token"
                            }    
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /client_identifiers/{kycId}/documents:
    post:
      tags:
      - Onboarding
      summary: Attach documents to Client Identifier
      description: >-
        Use this API to attach documents to the client identifier.


        **Note:**
        You need to upload the associated files.

        
        **Mandatory Fields**


        - `file` and `name`
      operationId: AttachdocumentstoClientIdentifier
      parameters:
      - name: instance
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console (tenantId)."
        required: true
        style: simple
        schema:
          type: string
      - name: kycId
        in: path
        description: 'The associated KYC Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              required:
              - name
              - file
              type: object
              properties:
                name:
                  type: string
                  description: "Name or summary of the document."
                  examples:
                  - some file new 2
                type:
                    type: string
                    description: "Type of document.E.g. passport, ID, etc"
                    examples:
                    - passport
                description:
                    type: string
                    description: "The description of the document."
                file:
                  type: string
                  description: "The file to be uploaded."
                  format: binary
              contentMediaType: multipart/form-data
        required: false
      responses:
          '200':
            description: ''
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "id": "264d3238-e7e5-4c4f-a6ab-09cc0a6522fd",
                        "resourceIdentifier": "264d3238-e7e5-4c4f-a6ab-09cc0a6522fd"
                      }
              headers: {}
          '400':
            description: "The request fails if the KYCId is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Resource [client identifier] with identifier [123] does not exist",
                          "defaultUserMessage": "Resource [client identifier] with identifier [123] does not exist",
                          "userMessageGlobalisationCode": "error.msg.resource.clientidentifier.not.found",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 123
                            }
                          ]
                        }
                      ]
                    }
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId1}:
    post:
      tags:
      - Onboarding
      summary: Close Client
      description: "Use this API to close a specific client. You need to specify the client Id. Clients can be closed if they do not have any non-closed loans or savings accounts.\n\nIf a client has any active loans or savings accounts, this API will result in an error.\n\nExample requests:\n\n- `POST /clients/1?command=close`\n    \n\n**Note:**\n\nAll valid reason identifier values are to be found at `/v1/codes/{codeId}/codevalues` API.\n\nExample:\n\n- closureReasonId `23` is for `BLACKLISTED`\n\n- withdrawalReasonId `28` is for `APPLICATION_CANCELLED`"
      operationId: CloseClient
      parameters:
      - name: command
        in: query
        description: "In this case the command value should always be 'close'."
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - close
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId1
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CloseClientRequest'
              - examples:
                - dateFormat: dd MMMM yyyy
                  locale: en
                  closureDate: 25 June 2023
                  closureReasonId: '23'
              contentMediaType: application/json
            example:
              dateFormat: dd MMMM yyyy
              locale: en
              closureDate: 25 June 2023
              closureReasonId: '23'
        required: true
      responses:
          '200':
            description: 'The client is closed successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "clientId": 15,
                        "resourceId": 15
                      }
              headers: {}
          '404':
            description: "The request fails if the client Id is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Client with identifier 17 does not exist",
                          "defaultUserMessage": "Client with identifier 17 does not exist",
                          "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 17
                            }
                          ]
                        }
                      ]
                    }
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId}/verificationstatus:
    get:
      tags:
      - Verification and Activation
      summary: Get Verification Status
      description: >-
        Use this API to retrieve the verification status of a client. The status can is one of the following:


        - **PENDING**: Verification has not been initiated.

        - **IN_PROGRESS**: Verification is currently in progress.

        - **APPROVED**: Verification has been completed successfully.

        - **REJECTED**: Verification has failed.
      operationId: GetVerificationStatus
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The verification status is obtained successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        {
                          "id": 1,
                          "accountNo": "000000001",
                          "verificationStatus": {
                            "id": 1,
                            "value": "PENDING"
                          },
                          "identifiers": [
                            {
                              "id": 1,
                              "clientId": 1,
                              "documentType": {
                                "id": 676,
                                "name": "Foreign Passport",
                                "position": 0,
                                "description": "Biodata page of a passport issued by a foreign government",
                                "active": true,
                                "mandatory": false,
                                "systemDefined": true
                              },
                              "documentKey": "909090909090",
                              "status": "clientIdentifierStatusType.active",
                              "verificationStatus": {
                                "id": 1,
                                "value": "PENDING"
                              }
                            }
                          ]
                        }
                headers: {}
            '404':
              description: "The request fails if the client Id is incorrect."
              content:
                application/json:
                  examples:
                    Result:
                      value: {
                        "developerMessage": "The requested resource is not available.",
                        "httpStatusCode": "404",
                        "defaultUserMessage": "The requested resource is not available.",
                        "userMessageGlobalisationCode": "error.msg.resource.not.found",
                        "errors": [
                          {
                            "developerMessage": "Client with identifier 1234 does not exist",
                            "defaultUserMessage": "Client with identifier 1234 does not exist",
                            "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                            "parameterName": "id",
                            "value": null,
                            "args": [
                              {
                                "value": 1234
                              }
                            ]
                          }
                        ]
                      }
              headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /clients/{clientId2}:
    post:
      tags:
      - Verification and Activation
      summary: Activate Client
      description: >-
          Use this API to activate a Client. Clients can be created in a 'pending' state. This API exists to enable client activation hence the client becomes an approved member of the Financial Institution. 
          You need to specify the client Id.
          
          If the client happens to be already active this API will result in an error.
          

          Before activating a client, check block-activation-of-unverified-clients configuration. If enabled, you need to verify the client-verify-kyc first.
      operationId: ActivateClient
      parameters:
      - name: command
        in: query
        description: "In this case the command value should always be 'active'."
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - activate
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      - name: clientId2
        in: path
        description: 'The associated client Id.'
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ActivateClientRequest'
              - examples:
                - locale: en
                  dateFormat: dd MMMM yyyy
                  activationDate: 13 June 2023
              contentMediaType: application/json
            example:
              locale: en
              dateFormat: dd MMMM yyyy
              activationDate: 13 June 2023
        required: true
      responses:
          '200':
            description: 'The client is activated successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "officeId": 1,
                        "clientId": 24,
                        "savingsId": 18,
                        "resourceId": 24
                      }
              headers: {}
          '404':
            description: "The request fails if the client Id is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The requested resource is not available.",
                      "httpStatusCode": "404",
                      "defaultUserMessage": "The requested resource is not available.",
                      "userMessageGlobalisationCode": "error.msg.resource.not.found",
                      "errors": [
                        {
                          "developerMessage": "Client with identifier 13 does not exist",
                          "defaultUserMessage": "Client with identifier 13 does not exist",
                          "userMessageGlobalisationCode": "error.msg.client.id.invalid",
                          "parameterName": "id",
                          "value": null,
                          "args": [
                            {
                              "value": 13
                            }
                          ]
                        }
                      ]
                    }  
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    parameters: []
  /savingsaccounts:
    post:
      tags:
      - Accounts
      summary: Create & Activate Account
      description: >-
        Use this API to create & activate a new account for a client.


        You will get an account id which you can use in the subsequent APIs
      operationId: CreateandActivateAccount
      parameters:
      - name: command
        in: query
        description: "In this case the command values must be: 'submit,approve,activate'."
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - submit,approve,activate
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: 'You need to update the values in the JSON including the {{clientId}} parameter.'
        content:
          application/json:
            schema:
              type: string
              examples:
              - >-
                {
                  "clientId": {{clientId}},
                  "productId": 1,
                  "locale": "en",
                  "dateFormat": "dd MMMM yyyy",
                  "submittedOnDate": "22 June 2023"
                }
              contentMediaType: application/json
            example: >-
              {
                "clientId": {{clientId}},
                "productId": 1,
                "locale": "en",
                "dateFormat": "dd MMMM yyyy",
                "submittedOnDate": "22 June 2023"
              }
        required: true
      responses:
          '200':
            description: 'The account is created and activated successfully.'
            content:
              application/json:
                examples:
                  Result:
                    value: 
                      {
                        "officeId": 1,
                        "clientId": 12,
                        "savingsId": 15,
                        "resourceId": 15,
                        "changes": {
                          "status": "ACTIVE",
                          "locale": "en",
                          "dateFormat": "dd MMMM yyyy",
                          "activatedOnDate": "22 June 2023"
                        }
                      }
              headers: {}
          '400':
            description: "The request fails if the the value for the 'command' parameter is incorrect."
            content:
              application/json:
                examples:
                  Result:
                    value: {
                      "developerMessage": "The request was invalid. This typically will happen due to validation errors which are provided.",
                      "httpStatusCode": "400",
                      "defaultUserMessage": "Validation errors exist.",
                      "userMessageGlobalisationCode": "validation.msg.validation.errors.exist",
                      "errors": [
                        {
                          "developerMessage": "The query parameter command has an unsupported value of: submit",
                          "defaultUserMessage": "The query parameter command has an unsupported value of: submit",
                          "userMessageGlobalisationCode": "error.msg.query.parameter.value.unsupported",
                          "parameterName": "command",
                          "value": null,
                          "args": [
                            {
                              "value": "command"
                            },
                            {
                              "value": "submit"
                            },
                            {
                              "value": [
                                "submit,approve,activate"
                              ]
                            }
                          ]
                        }
                      ]
                    }
            headers: {}
      deprecated: false
      servers:
      - url: https://v1
        variables: {}
    get:
      tags:
      - Accounts
      summary: Get Accounts
      description: "Use this API to retrieve the list of accounts and their details."
      operationId: GetAccounts
      parameters:
      - name: content-type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      - name: tenantid
        in: header
        description: "The ID of your banking instance visible in the MBANQ Console. You need to pass this value as one of the following: \n(1) The 'tenantIdentifier' query parameter. \n(2) The 'tenantId' header parameter."
        required: true
        style: simple
        schema:
          type: string
      responses:
            '200':
              description: 'The accounts list is retrieved successfully.'
              content:
                application/json:
                  examples:
                    Result:
                      value: 
                        {
                          "totalFilteredRecords": 4,
                          "pageItems": [
                            {
                              "id": 14,
                              "accountNo": "000000014",
                              "depositType": {
                                "id": 100,
                                "code": "depositAccountType.savingsDeposit",
                                "value": "Savings"
                              },
                              "clientId": 15,
                              "clientName": "RJ Last",
                              "savingsProductId": 1,
                              "savingsProductName": "Current Account",
                              "fieldOfficerId": 0,
                              "status": {
                                "id": 300,
                                "code": "savingsAccountStatusType.active",
                                "value": "Active",
                                "submittedAndPendingApproval": false,
                                "approved": false,
                                "rejected": false,
                                "withdrawnByApplicant": false,
                                "active": true,
                                "closed": false,
                                "prematureClosed": false,
                                "transferInProgress": false,
                                "transferOnHold": false,
                                "matured": false
                              },
                              "subStatus": {
                                "id": 0,
                                "code": "SavingsAccountSubStatusEnum.none",
                                "value": "None",
                                "none": true,
                                "inactive": false,
                                "dormant": false,
                                "escheat": false,
                                "block": false,
                                "blockCredit": false,
                                "blockDebit": false
                              },
                              "timeline": {
                                "submittedOnDate": [
                                  2023,
                                  6,
                                  29
                                ],
                                "submittedByUsername": "admin",
                                "submittedByFirstname": "App",
                                "submittedByLastname": "Administrator",
                                "approvedOnDate": [
                                  2023,
                                  6,
                                  29
                                ],
                                "approvedByUsername": "admin",
                                "approvedByFirstname": "App",
                                "approvedByLastname": "Administrator",
                                "activatedOnDate": [
                                  2023,
                                  6,
                                  29
                                ],
                                "activatedByUsername": "admin",
                                "activatedByFirstname": "App",
                                "activatedByLastname": "Administrator"
                              },
                              "currency": {
                                "code": "USD",
                                "name": "US Dollar",
                                "decimalPlaces": 2,
                                "inMultiplesOf": 0,
                                "displaySymbol": "$",
                                "nameCode": "currency.USD",
                                "displayLabel": "US Dollar ($)"
                              },
                              "nominalAnnualInterestRate": 0.5,
                              "interestCompoundingPeriodType": {
                                "id": 1,
                                "code": "savings.interest.period.savingsCompoundingInterestPeriodType.daily",
                                "value": "Daily"
                              },
                              "interestPostingPeriodType": {
                                "id": 4,
                                "code": "savings.interest.posting.period.savingsPostingInterestPeriodType.monthly",
                                "value": "Monthly"
                              },
                              "interestCalculationType": {
                                "id": 1,
                                "code": "savingsInterestCalculationType.dailybalance",
                                "value": "Daily Balance"
                              },
                              "interestCalculationDaysInYearType": {
                                "id": 365,
                                "code": "savingsInterestCalculationDaysInYearType.days365",
                                "value": "365 Days"
                              },
                              "lockinPeriodFrequency": 100,
                              "lockinPeriodFrequencyType": {
                                "id": 0,
                                "code": "savings.lockin.savingsPeriodFrequencyType.days",
                                "value": "Days"
                              },
                              "withdrawalFeeForTransfers": false,
                              "allowOverdraft": false,
                              "enforceMinRequiredBalance": false,
                              "onHoldFunds": 0,
                              "withHoldTax": false,
                              "lastActiveTransactionDate": [
                                2023,
[...]
